body {
    background: url(../image/background2.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
.text-summary-container {
    display: flex;
    background: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}
  
  .summary-label {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
    background: linear-gradient(90deg, rgba(40, 84, 131, 0.8), rgba(42, 133, 152, 0.8));
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
  
  .summary-content {
    width: 80%;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: rgba(249, 249, 249, 0.611); /* Adjusted for transparency */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  }
  
  .summary-content p {
    font-size: 1.2rem;
    color: #020202;
  }