:host {
  display: block;
  width: 100%;
  min-height: 100vh;
}

main {
  width: 100%;
  min-height: calc(100vh - 110px); /* Adjusted to account for header (80px) and footer (30px) */
  display: flex;
  flex-direction: column;
}
